<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <div id="app">
      <header><%- include('partials/header') %></header>
      <section class="is-hero-bar">
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0"
        >
          <h1 class="title">Daftar Booking</h1>
        </div>
      </section>
      <section class="section main-section">
        <% if (msg !== undefined) { %>
        <div class="notification blue">
          <div
            class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
          >
            <div>
              <span class="icon"><i class="mdi mdi-buffer"></i></span>
              <b><%= msg %></b>
            </div>
            <button
              type="button"
              class="button small textual --jb-notification-dismiss"
            >
              Dismiss
            </button>
          </div>
        </div>
        <% } %>
        <div class="card has-table">
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th class="text-center">Kode Booking</th>
                  <th class="text-center">Tanggal Booking</th>
                  <th class="text-center">Tanggal Mulai Sewa</th>
                  <th class="text-center">Tanggal Selesai Sewa</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% data.data.forEach(d => { %>
                <tr>
                  <td class="text-center" data-label="Kode Booking">
                    <%= d.kode_booking %>
                  </td>
                  <td class="text-center" data-label="Tanggal Booking">
                    <%= d.tgl_booking %>
                  </td>
                  <td class="text-center" data-label="Tanggal Mulai Sewa">
                    <%= d.tgl_mulai_sewa %>
                  </td>
                  <td class="text-center" data-label="Tanggal Selesai Sewa">
                    <%= d.tgl_selesai_sewa %>
                  </td>
                  <td class="text-center" data-label="Total">
                    <%= d.hari %> Hari
                  </td>
                  <td class="text-center" data-label="Status">
                    <%= d.status %>
                  </td>

                  <td class="actions-cell">
                    <div class="text-center">
                      <% if (d.status === 'dikonfirmasi' || d.status ===
                      'selesai') { %>
                      <button
                        class="button red opacity-50"
                        onclick="return false"
                        type="button"
                      >
                        Batalkan
                      </button>
                      <% } else {%>
                      <button
                        class="--jb-modal button red"
                        title="Batalkan"
                        data-target="confirm-batalkan-<%= d.id %>"
                        type="button"
                      >
                        Batalkan
                      </button>
                      <% } %>
                    </div>
                  </td>
                </tr>
                <div id="confirm-batalkan-<%= d.id %>" class="modal">
                  <div class="modal-background --jb-modal-close"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title text-lg"><b>Booking</b></p>
                    </header>

                    <section class="modal-card-body">
                      <p class="text-center text-md font-semibold">
                        Apakah anda yakin ingin membatalkan booking
                        <b><%= d.kode_booking %></b> ini?
                      </p>
                    </section>
                    <footer class="modal-card-foot">
                      <form
                        action="/booking?id=<%= d.id %>&_method=DELETE"
                        method="POST"
                      >
                        <button
                          class="button green --jb-modal-close"
                          title="Konfirmasi"
                          type="submit"
                        >
                          Konfirmasi
                        </button>
                      </form>
                      <button
                        class="button red --jb-modal-close"
                        title="Batalkan"
                        type="button"
                      >
                        Batalkan
                      </button>
                    </footer>
                  </div>
                </div>
                <% }) %>
              </tbody>
            </table>
            <div class="table-pagination">
              <div class="flex items-center justify-between">
                <div class="buttons">
                  <% if (data.paging.prev_page < 1) { %>
                  <button type="button" onclick="return false" class="button">
                    Previous
                  </button>
                  <% } else {%>
                  <a href="<%= path %>?page=<%= data.paging.prev_page%>">
                    <button type="button" class="button">Previous</button>
                  </a>
                  <% } %> <% for (let i = data.paging.start_page; i <=
                  data.paging.end_page; i++) {%>
                  <a href=" <%= path %>?page=<%= i %> ">
                    <button
                      type="button"
                      class="button <%= i === data.paging.current_page ? 'active' : ''%>"
                    >
                      <%= i %>
                    </button>
                  </a>
                  <% } %> <% if (data.paging.next_page <=
                  data.paging.total_page) { %>
                  <a href="<%= path %>?page=<%= data.paging.next_page%>">
                    <button type="button" class="button">Next</button>
                  </a>
                  <% } else { %>
                  <button type="button" onclick="return false" class="button">
                    Next
                  </button>
                  <% } %>
                </div>
                <small>
                  Total data : <%= data.total_data %> &emsp; Page
                  <%=data.paging.current_page %> of <%= data.paging.total_page
                  %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include("partials/footer") %>
    </div>
    <%- include("partials/script") %>
  </body>
</html>
