<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <div id="app">
        <header><%- include('partials/header') %></header>

        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title"><%= title_page %></h1>
            </div>
        </section>

        <section class="section main-section">
            <div class="grid grid-cols-1 mb-6 xl:mx-60">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account"></i></span>
                            Profile
                        </p>
                        <div class="my-auto flex justify-center mt-2">
                            <a href="/admin/profile/setting">
                                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Edit Profil
                                </button>
                            </a>
                        </div>
                    </header>
                    <div class="card-content">
                        <% data.forEach(d => { %>
                        <!-- <div class="image w-48 h-48 mx-auto">
                            <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe" class="rounded-full" />
                        </div>
                        <hr /> -->
                        <div class="field">
                            <label class="label">Nama</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.nama %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.username %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">E-mail</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.email %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nomor Telepon</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.nomor_telepon %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">NIK</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.nik %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Tanggal Lahir</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.tgl_lahir %>" class="input is-static" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Alamat</label>
                            <div class="control">
                                <input type="text" readonly value="<%= d.alamat %>" class="input is-static" />
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>
        <%- include("partials/footer") %>
    </div>
    <%- include("partials/script") %>
</body>

</html>