<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <div id="app">
        <header><%- include('partials/header') %></header>

        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title"><%= title_page %></h1>
            </div>
        </section>

        <% if (msg !== undefined) { %>
        <p class="mx-auto text-center bg-slate-300 w-3/4 rounded-md p-1 mt-4 text-md font-semibold">
            <%= msg %>
        </p>
        <% } %>

        <section class="section main-section">
            <div class="grid grid-cols-1 mb-6 xl:mx-60">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-format-list-bulleted mdi-24px mr-2"></i></span>
                            Daftar Kode
                        </p>
                    </header>
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">Nama</th>
                                <th class="text-center">Kode</th>
                                <th class="text-center">Deskripsi</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(d => { %>
                            <tr>
                                <td class="text-center capitalize" data-label="Nama">
                                    <%= d.nama %>
                                </td>
                                <td class="text-center capitalize" data-label="Kode">
                                    <%= d.kode %>
                                </td>
                                <td class="text-center capitalize" data-label="Deskripsi">
                                    <%= d.deskripsi %>
                                </td>
                                <td class="actions-cell">
                                    <div class="flex justify-center m-2">
                                        <button class="--jb-modal text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2" title="Edit" data-target="edit-kode-modal-<%= d.id %>" type="button">
                                            Edit
                                        </button>
                                        <button class="--jb-modal tombol-histori text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2" title="Cek History Kode" data-target="kode-history-modal" data-id="<%= d.id %>" data-nama="<%= d.nama %>" type="button">
                                            Histori
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <div id="edit-kode-modal-<%= d.id %>" class="modal">
                                <div class="modal-background --jb-modal-close"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">
                                            <b>Edit Kode <%= d.nama %></b>
                                        </p>
                                    </header>
                                    <form action="/admin/settings?_method=PATCH&kode=<%= d.id %>" method="POST">
                                        <section class="modal-card-body">
                                            <label class="label" for="kode">Kode :</label>
                                            <input class="input" id="kode" type="text" name="kode" placeholder="Kode" value="<%= d.kode %>">
                                            <label class="label" for="kode">Deskripsi :</label>
                                            <input class="input" id="deskripsi" type="text" name="deskripsi" placeholder="Deskripsi" value="<%= d.deskripsi %>">
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button type="submit" class="--jb-modal-close text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                                Konfirmasi
                                            </button>
                                            <button type="button" class="--jb-modal-close text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                                Batalkan
                                            </button>
                                        </footer>
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </section>
        <%- include("partials/footer") %>
        <div id="kode-history-modal" class="modal">
            <div class="modal-background --jb-modal-close"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        <b>Histori Kode</b>
                    </p>
                </header>
                <section class="modal-card-body">
                    <table>
                        <thead>

                            <tr>
                                <th class="text-center">Kode Sebelumnya</th>
                                <th class="text-center">Tanggal Perubahan</th>
                            </tr>
                        </thead>
                        <tbody class="tabel-kode-history">
                            <tr>
                                <td class="text-center history-kode" data-label="Kode Sebelumnya"> KODE</td>
                                <td class="text-center history-kode" data-label="Tanggal Perubahan"> 26-04-1999</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <footer class="modal-card-foot">
                    <button type="button" class="--jb-modal-close text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                        Tutup
                    </button>
                </footer>
            </div>
        </div>
    </div>
    <%- include("partials/script") %>
</body>

</html>