<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <div id="app">
        <header><%- include('partials/header') %></header>
        <section class="is-hero-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <h1 class="title">Daftar Transaksi</h1>
            </div>
        </section>
        <section class="section main-section">
            <% if (msg !== undefined) { %>
            <div class="notification blue">
                <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                    <div>
                        <span class="icon"><i class="mdi mdi-buffer"></i></span>
                        <b><%= msg %></b>
                    </div>
                    <button type="button" class="button small textual --jb-notification-dismiss">
                        Dismiss
                    </button>
                </div>
            </div>
            <% } %>
            <div class="card has-table">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">Kode Transaksi</th>
                                <th class="text-center">Mobil Merk</th>
                                <th class="text-center">Mobil Model</th>
                                <th class="text-center">Pelanggan</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Nomor Telepon</th>
                                <th class="text-center">
                                    Tanggal Peminjaman
                                </th>
                                <th class="text-center">
                                    Tanggal Pengembalian
                                </th>
                                <th class="text-center">Lama Sewa</th>
                                <th class="text-center">Total Biaya</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.data.forEach(d => { %>
                            <tr>
                                <td class="text-center" data-label="Kode Booking">
                                    <%= d.kode_transaksi %>
                                </td>
                                <td class="text-center" data-label="Mobil Merk">
                                    <%= d.merk %>
                                </td>
                                <td class="text-center" data-label="Mobil Model">
                                    <%= d.model %>
                                </td>
                                <td class="text-center" data-label="Pelanggan">
                                    <%= d.nama %>
                                </td>
                                <td class="text-center" data-label="Email">
                                    <%= d.email %>
                                </td>
                                <td class="text-center" data-label="Nomor Telepon">
                                    <%= d.nomor_telepon %>
                                </td>
                                <td class="text-center" data-label="Tanggal Mulai Sewa">
                                    <%= d.tgl_peminjaman %>
                                </td>
                                <td class="text-center" data-label="Tanggal Selesai Sewa">
                                    <%= d.tgl_pengembalian %>
                                </td>
                                <td class="text-center" data-label="Lama Sewa">
                                    <%= d.lama_sewa %> Hari
                                </td>
                                <td class="text-center" data-label="Lama Sewa">
                                    Rp. <%= d.total_biaya %>
                                </td>
                                <% if (d.status === 'selesai') { %>
                                <td class="text-center font-semibold capitalize text-green-500">
                                    <%= d.status %>
                                </td>
                                <% } else { %>
                                <td class="text-center font-semibold capitalize text-red-500" data-label="Status">
                                    <%= d.status %>
                                </td>
                                <% } %>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <div class="table-pagination">
                        <div class="flex items-center justify-between">
                            <div class="buttons">
                                <% if (data.paging.prev_page < 1) { %>
                                <button type="button" onclick="return false" class="opacity-50 text-white bg-slate-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                    Prev
                                </button>
                                <% } else {%>
                                <a href="<%= path %>?page=<%= data.paging.prev_page%>">
                                    <button type="button" class="text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                        Prev
                                    </button>
                                </a>
                                <% } %> <% for (let i =
                                    data.paging.start_page; i <=
                                    data.paging.end_page; i++) {%>
                                <a href=" <%= path %>?page=<%= i %> ">
                                    <button type="button" class="text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 <%= i === data.paging.current_page ? '' : 'opacity-50' %>">
                                        <%= i %>
                                    </button>
                                </a>
                                <% } %> <% if (data.paging.next_page <=
                                    data.paging.total_page) { %>
                                <a href="<%= path %>?page=<%= data.paging.next_page%>">
                                    <button type="button" class="text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                        Next
                                    </button>
                                </a>
                                <% } else { %>
                                <button type="button" onclick="return false" class="opacity-50 text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                    Next
                                </button>
                                <% } %>
                            </div>
                            <small class="text-sm font-semibold italic">
                                Total data : <%= data.total_data %> &emsp;
                                Page <%=data.paging.current_page %> of <%=
                                    data.paging.total_page %>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("partials/footer") %>
    </div>
    <%- include("partials/script") %>
</body>

</html>